################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/v15
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp2/obj
/ConsoleApp1/ConsoleApp3/obj/Debug
/ConsoleApp1/ConsoleApp4/obj/Debug
/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild
